body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

header{
  padding: 2rem;
  background: #545454;
  text-align: center;
  color: #fff;
}

p{
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.img-box{
  display: flex;
}

.img-box img{
  width: 100%;
  display: block;
}

.img-box div{
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
}


